// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;

  // Insert your own theme rules here
  
  /*
   .v-panel-content-widget > .v-verticallayout{
    width: 100%;
  }
  */
  
  //panel
  .v-panel-widget{
    background: none repeat scroll 0 0 #f9f9f9;
  clear: both;
  margin-top: 0px;
  margin-bottom: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
  box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
  border: 1px solid #e0dede;
  width: 100%;
  }
  .v-panel-caption-widget{
    background-image: -webkit-linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
  background-image: -moz-linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
  background-image: -ms-linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
  background-image: -o-linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
  background-image: -linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffdfdfd', endColorstr='#ffeaeaea', GradientType=0 );
  border-bottom: 1px solid #e0dede;
  height: 36px;
  -webkit-border-radius: 3px 3px 0px 0px;
  -moz-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
  border-bottom: 1px solid #e0dede;
  }
  .v-panel-content-widget{
    padding: 7px;
  border-bottom: 1px solid #CDCDCD;
  -webkit-border-radius: 0px 0px 3px 3px;
  -moz-border-radius: 0px 0px 3px 3px;
  border-radius: 0px 0px 3px 3px;
  }
  
  .cssLayout_center{
    background:  #CCEEFF;
  } 
  
  
  .header{
    float:right;
    
  }
}
